@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#0e1015] text-slate-100 font-sans antialiased overflow-hidden select-none;
  }

  /* Custom scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-slate-700/60 rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-600;
  }
}
